# Tratativa - Prediction of a patient having lung cancer

Tratativas:
- Deixar minúsculo os nomes das colunas e substituir os espaços por _.
- Coluna GENDER transformar de F e M para 0 e 1 respectivamente.
- Coluna LUNGER_CANCER: Transformar YES e NO para 1 e 0 respectivamente.
- Demais colunas: Transformar YES e NO para 1 e 0 respectivamente.

### Importando bibliotecas

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

### Importando dados

In [4]:
df_cancer = pd.read_csv('../../data/survey_lung_cancer.csv')
display(df_cancer.head())
display(df_cancer.tail())

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

### Tratamento dos dados

In [5]:
#Alterando colunas
colunas = df_cancer.columns
novas_colunas = [coluna.replace(' ', '_').lower() for coluna in colunas]
df_cancer.columns = novas_colunas
df_cancer.head()

,gender,age,smoking,yellow_fingers,anxiety,peer_pressure,chronic_disease,fatigue_,allergy_,wheezing,alcohol_consuming,coughing,shortness_of_breath,swallowing_difficulty,chest_pain,lung_cancer
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO

In [6]:
df_cancer.shape

(309, 16)

In [7]:
#Verificando valores nulos.
df_cancer.isnull().sum()

gender                   0
age                      0
smoking                  0
yellow_fingers           0
anxiety                  0
peer_pressure            0
chronic_disease          0
fatigue_                 0
allergy_                 0
wheezing                 0
alcohol_consuming        0
coughing                 0
shortness_of_breath      0
swallowing_difficulty    0
chest_pain               0
lung_cancer              0
dtype: int64

In [8]:
#Verificando valores duplicados
print(f'Quantidade dados: {df_cancer.shape[0]}')
print(f'Dados duplicados: {df_cancer.duplicated().sum()}')

#Retirando dados duplicados
df_cancer = df_cancer.drop_duplicates()
print(f'Quantidade dados depois da remocao: {df_cancer.shape[0]}')

Quantidade dados: 309
Dados duplicados: 33
Quantidade dados depois da remocao: 276

In [9]:
# Atribuindo variavel para criação de features categóricas binárias
LA = LabelEncoder()

la_colunas = novas_colunas.copy()
la_colunas.pop(1)

# Estrutura de repetição para alterar variáveis categóricas para 0 e 1
for coluna in la_colunas:
    df_cancer[coluna] = LA.fit_transform(df_cancer[coluna])

In [15]:
df_cancer.to_csv('data_tratative.csv')